<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>PayList</title>

</head>
<body>
    <!-- Access the payRunData object in your EJS template -->
    <h1 class="payList">PayList</h1>
    <ul class="payListInformation">
        <li>Status: <%= data.status %></li>
        <li>Earnings: <%= data.earnings.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></li>
        <li>Effective Net: <%= data.effectiveNet.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></li>
        <li>Start Date: <% var startDate = new Date(data.startDate); %>
            <%= startDate.getFullYear() %>-<%= (startDate.getMonth() + 1).toString().padStart(2, '0') %>-<%= startDate.getDate().toString().padStart(2, '0') %></li>
        <li>End Date: <% var endDate = new Date(data.endDate); %>
            <%= endDate.getFullYear() %>-<%= (endDate.getMonth() + 1).toString().padStart(2, '0') %>-<%= endDate.getDate().toString().padStart(2, '0') %></li>
        <li>Paid Dates:
            <% if (data.paidDates && data.paidDates.length > 0) { %>
                <ul>
                    <% for (let payRunDate of data.paidDates) { %>
                        <% var formattedDate = new Date(payRunDate).toISOString().slice(0, 10); %>
                        <li><%= formattedDate %></li>
                    <% } %>
                </ul>
            <% } else { %>
                No paid dates available.
            <% } %>
        </li>
        
    </ul>

        <br>
        <table>
            <tr>
                <th style="text-align: left;">Employee</th>
                <th style="text-align: right;">Base Gross</th>
                <th style="text-align: right;">Effective Gross Salary</th>
                <th style="text-align: right;">Effective Net Salary</th>
                <th style="text-align: right;">Income Tax Amount</th>
                <th style="text-align: right;">Additional Health Ins Amount</th>
                <th style="text-align: right;">Unemployment Ins Amount</th>
            </tr>
        </thead>
            <tbody>
                <% for (let item of data.payRunData) { %>
                    <tr>
                        <td style="text-align: left;"><%= item.employee.name %> <%= item.employee.surname %></td>
                        <td style="text-align: right;"><%= item.baseGross.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></td>
                        <td style="text-align: right;"><%= item.effectiveGross.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></td>
                        <td style="text-align: right;"><%= item.effectiveNetSalary.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></td>
                        <td style="text-align: right;"><%= item.incomeTaxAmount.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></td>
                        <td style="text-align: right;"><%= item.additionalHealthInsAmount.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></td>
                        <td style="text-align: right;"><%= item.unemploymentInsAmount.toLocaleString('de-DE', { style: 'currency', currency: 'MKD' }) %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
</body>
</html>