<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      /* Add CSS styles to control spacing and create columns */
      * {
        margin-top: 5px;
        font-family: "Inter var", "Roboto", "Helvetica", Arial, sans-serif;
        font-size: 0.9rem;
      }
      /* Updated styles */
      .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 15px;
      }

      html {
        -webkit-print-color-adjust: exact;
      }

      .payList {
        /* Adjust positioning to the right */
        align-self: flex-start;
        /* Add margin for spacing */
        font-size: 30px;
        color: rgb(30, 29, 29);
        font-weight: 600;
        letter-spacing: 5px;
      }

      .payListInformation {
        /* Adjust positioning to the left */
        align-self: flex-start;
      }
      
      .payListInformation li {
        list-style-type: none;
      }

      thead th {
      position: sticky;
      top: 0;
      z-index: 999999999; /* Ensure it stays above the other content */
      background-color: rgb(44, 41, 41);
      color: white;
      padding: 10px;
      border:none;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 7px;
      }

      td {
        border-bottom: 1px solid rgb(174, 174, 174);
        /* border-right: white;
        border-left: white; */
        padding: 6px;
        text-align: center;
        padding: 10px;
        /* border: 1px solid black;
        text-align: center;
        padding: 5px; */
      }


    </style>
    <title>PayList</title>
  </head>
  <body>
    <!-- Access the payRunData object in your EJS template -->
    <div class="header-container">
      <ul class="payListInformation">
        <li style="text-align: start">
          <%= payRuns.companyName %>
        </li>
        <li>
          Start Date: <% var startDate = new Date(payRuns.startDate); %> <%=
          startDate.getFullYear() %>-<%= (startDate.getMonth() +
          1).toString().padStart(2, '0') %>-<%=
          startDate.getDate().toString().padStart(2, '0') %>
        </li>
        <li>
          End Date: <% var endDate = new Date(payRuns.endDate); %> <%=
          endDate.getFullYear() %>-<%= (endDate.getMonth() +
          1).toString().padStart(2, '0') %>-<%=
          endDate.getDate().toString().padStart(2, '0') %>
        </li>
      </ul>
      <h1 style="text-align: right" class="payList">Pay List</h1>
    </div>

    <!-- Calculate totals -->
    <% let totalBaseGross = 0; let totalDays = 0; let totalEarnings = 0; let
    totalContributions = 0;let totalIncomeTaxAmount = 0; let totalDeductions =
    0; let effectiveNet = 0; payRuns.subPayRuns.forEach(function(subPayRun) {
    subPayRun.payRunData.forEach(function(item) { totalBaseGross +=
    item.baseGross || 0; totalIncomeTaxAmount += item.incomeTaxAmount || 0;
    totalDays += item.days || 0; totalEarnings += item.earnings || 0;
    totalContributions += item.contributions || 0; totalDeductions +=
    item.deductions || 0;}); }); %>
    <br />
    <table>
      <thead>
      <tr style="background-color: rgb(44, 41, 41) !important">
        <th>#</th>
        <th
          style="text-align: left; background-color: rgb(44, 41, 41) !important"
        >
          Employee
        </th>
        <th style="text-align: right; border-right: none">Days</th>
        <th style="text-align: right; border-left: none">Base Gross</th>
        <th style="text-align: right">Earnings</th>
        <th style="text-align: right;border-right: none">Contributions</th>
        <th style="text-align: right;border-left: none"">Income Tax</th>
        <th style="text-align: right;border-left: none"">Deductions</th>
        <!-- <th style="text-align: right">Unemployment Ins Amount</th> -->
        <th style="text-align: right">Effective Net</th>
      </tr>
    </thead>

      <tbody>
        <% let rowCount = 0; %>
        <% payRuns.subPayRuns.forEach(function(subPayRun) { %> <%
        subPayRun.payRunData.forEach(function(item) { %>
          <% rowCount++; %>
        <tr>
          <td><%= rowCount %></td>
          <td style="text-align: left">
            <%= item.employee.name %> <%= item.employee.surname %>
          </td>
          <td style="text-align: right"><%= item.days %></td>
          <td style="text-align: right">
            <%= (Math.round(item.baseGross * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.earnings * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.contributions * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.incomeTaxAmount * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.totalDeductions * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(item.effectiveNetSalary)?.replace('MKD', 'дeн')%>
          </td>
        </tr>
        <% }); %> <% }); %>
      </tbody>

      <div style="border: none; text-align: right; font-weight: bold">
        <tr>
          <td style="border: none;"></td>
          <td style="border: none; text-align: left; font-weight: bold">
            Total
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= totalDays %>
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalBaseGross).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalEarnings).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalContributions).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalIncomeTaxAmount).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalDeductions).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: bold">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(payRuns.effectiveNet).replace('MKD', 'дeн') %>
          </td>
        </tr>
      </div>
    </table>
  </body>
</html>
