<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      /* Add CSS styles to control spacing and create columns */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 0.9rem;
        font-family: "Inter var", "Roboto", "Helvetica", Arial, sans-serif;
      }
      /* Updated styles */
      .header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2%;
        margin-left: 0.5%;
      }
      html {
        -webkit-print-color-adjust: exact;
      }
      .clients-name {
        font-weight: 550;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 7%;
        color: black;
        font-size: 15px;
      }
     .payListInformation{
      margin-top: 1%;
     }
     .start-end{
      color:grey;
      line-height: 17px;
        overflow: hidden;
        white-space: nowrap;
     }
      .startDate{
        display: flex;
        gap:1.5rem;
      }
      .endDate{
        display: flex;
        gap:1.77rem;
      }
      .payList{
        display: flex;
        justify-content: end;
        font-size: 35px;
        color: rgb(30, 29, 29);
        font-weight: 500;
      }
      thead th {
        border-bottom: none;
        border-right: white;
        border-left: white;
        background-color: rgb(84, 82, 82) !important;
        border: rgb(65, 63, 63) !important;
        color: white !important;
        font-weight: 100;
        padding: 10px;
        text-align: center;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin-left: 0.5%;
      }
      td {
        border-bottom: 1px solid rgb(214, 214, 214);
        border-right: white;
        border-left: white;
        font-weight: 100;
        padding: 10px;
        text-align: center;
      }
    </style>
    <title>Generate PayList</title>
  </head>
  <body>
    <div class="whole-page">
    <div class="header-container">
      <div class="payListInformation">
        <div class="clients-name">
          <%= payRuns.companyName %>
        </div>
        <div class="start-end">
          <div class="startDate">
            <div class="sText">Од:</div>
             <div class="sDate"><% var startDate = new Date(payRuns.startDate); %> <%=
               startDate.getFullYear() %>-<%= (startDate.getMonth() +
               1).toString().padStart(2, '0') %>-<%=
               startDate.getDate().toString().padStart(2, '0') %> </div>
           </div>
           <div class="endDate">
             <div class="eText">До:</div>
            <div class="eDate"><% var endDate = new Date(payRuns.endDate); %> <%=
             endDate.getFullYear() %>-<%= (endDate.getMonth() +
             1).toString().padStart(2, '0') %>-<%=
             endDate.getDate().toString().padStart(2, '0') %></div>
           </div>
      </div>
      </div>
      <div style="text-align: right" class="payList">Платен Список</div>
    </div>
    <!-- Calculate totals -->
    <% let totalBaseGross = 0; let totalDays = 0; let totalEarnings = 0; let
    totalContributions = 0;let totalIncomeTaxAmount = 0; let totalDeductions =
    0; let effectiveNet = 0; payRuns.subPayRuns.forEach(function(subPayRun) {
    subPayRun.payRunData.forEach(function(item) { totalBaseGross +=
    item.baseGross || 0; totalIncomeTaxAmount += item.incomeTaxAmount || 0;
    totalDays += item.days || 0; totalEarnings += item.earnings || 0;
    totalContributions += item.contributions || 0; totalDeductions +=
    item.deductions || 0;}); }); %>
    <br />
    <table>
      <thead>
      <tr>
        
        <th>#</th>
        <th
          style="text-align: left";
        >
        Вработен
        </th>
        <th style="text-align: right; border-right: none">Работни ден</th>
        <th style="text-align: right; border-left: none">Основно Бруто</th>
        <th style="text-align: right">Додатоци</th>
        <th style="text-align: right;border-right: none">Придонеси</th>
        <th style="text-align: right;border-left: none"">ПДД</th>
        <th style="text-align: right;border-left: none"">Одбитоци</th>
        <th style="text-align: right">Ефективно Нет</th>
      </tr>
    </thead>
      <tbody>
        <% let rowCount = 0; %>
        <% payRuns.subPayRuns.forEach(function(subPayRun) { %> <%
        subPayRun.payRunData.forEach(function(item) { %>
          <% rowCount++; %>
        <tr>
          <td><%= rowCount %></td>
          <td style="text-align: left">
            <%= item.employee.name %> <%= item.employee.surname %>
          </td>
          <td style="text-align: right"><%= item.days %></td>
          <td style="text-align: right">
            <%= (Math.round(item.baseGross * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.earnings * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.contributions * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.incomeTaxAmount * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= (Math.round(item.totalDeductions * 100) /
            100).toFixed(2).replace('.',','); %>
          </td>
          <td style="text-align: right">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(item.effectiveNetSalary)?.replace('MKD', '')%>
          </td>
        </tr>
        <% }); %> <% }); %>
      </tbody>
      <div style="border: none; text-align: right;font-weight: 750; ">
        <tr>
          <td style="border: none; font-weight: 750;"></td>
          <td style="border: none; text-align: left; font-weight: 750; font-size: 15px; padding-top:10px;">
            Вкупно
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px;">
            <%= totalDays %>
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px;">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalBaseGross).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px;">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalEarnings).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px; ">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalContributions).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px;">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalIncomeTaxAmount).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px; ">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(totalDeductions).replace('MKD', 'дeн') %>
          </td>
          <td style="border: none; text-align: right; font-weight: 750; font-size: 15px; padding-top:10px;">
            <%= new Intl.NumberFormat('de-DE', { style: 'currency', currency:
            'MKD', currencyDisplay: 'code'
            }).format(payRuns.effectiveNet).replace('MKD', 'дeн') %>
          </td>
        </tr>
      </div>
    </table>
  </div>
  </body>
</html>